* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  ----------- Toast ---------- */
#toast {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #111;
  color: #fff;
  padding: 12px 16px;
  border-radius: 6px;
  display: none;
}

#toast.error {
  background: #c0392b;
}

#toast.success {
  background: #27ae60;
}

#toast.warning {
  background: #f39c12;
}

#toast.show {
  display: block;
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
    transform: translateY(-20px);
  }
  10%,
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0px);
  }
}
