@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 15px 50px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #4CAF50;
}

.signin-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.signin-btn:hover {
  background-color: #45a049;
}

/* Hero section styling */
.hero-content {
  background-color: #E5FDED;
  display: flex;
  align-items: center;
  padding: 60px 50px;
  margin: 0 auto;
  gap: 50px;
}

.text {
  flex: 1;
}

.text h2{
  font-size: 2.9rem;
  line-height: 72px;
  font-weight: 400;
}

.text p{
  margin: 20px 0;
  font-size: 1.1rem;
  letter-spacing: -1%;
  line-height: 28px;
  font-weight: 400;
}

.image {
  flex: 1;
  text-align: right;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.getstarted-btn {
  background-color: #00A73E;
  color: white;
  border: 1px;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.7rem;
  margin-right: 15px;
  transition: background-color 0.3s;
}

.getstarted-btn:hover {
  background-color: #008F32;
}

.learnmore-btn {
  background-color: white;
  color: #00A73E;
  border: 1px solid #00A73E;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.7rem;
  transition: background-color 0.3s;
}

.learnmore-btn:hover {
  background-color: #f0f0f0;
}




        