*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    background-color: white;
    margin: 0;
    padding: 30px;
}

.hero1 {
    background-image:url(../assets/images/5b172f625901b981e7e985d07e0f2319fd7b0b6b.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px 60px;
    height: 30vh;
    position: relative;
    
}

.hero2 {
    background-image:url(/farminput-frontend/public/assets/images/c14c4797172d1787dc32ec33d540197d65fe8562.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px 60px;
    height: 30vh;
    position: relative;
    
}

.hero3 {
    background-image:url(/farminput-frontend/public/assets/images/bdc7131a97e9ae05a99d62f4afc888bf24dbc5f1.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px 60px;
    height: 30vh;
    position: relative;
    
}



.header-text {
    color: white;
    margin-top: 5vh;
    margin-left: 2vh;
    margin-bottom: 4vh;
}

.header-text2 {
    color : white
}

.hero-content {
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-img {
    border-radius: 2vh ;
    width: 10vh;
    height: 10vh;
}

.cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    justify-content:space-between;
    margin-top: 20px;
    padding: 30px;
}

.card {
    background: #fff;
    border-radius: 14px;
    padding: 24px;
    box-shadow: 0 60px 18px  rgba(0, 0, 0, 0.08);
}

.cards h2 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.description {
    color: #555;
    font-size: 14px;
    font-size: 20x;
    margin-bottom: 40px;
}

.price-box{
    background: #eaf7ee;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.price {
    display: block;
    color: green;
    font-weight: 700;
    font-size: 18px;
}

.unit {
    font-size: 12px;
    color: #4f7d62
}

.card h3 {
    font-size: 13px;
    margin-bottom: 10px;
    color: #444;
}

.card ul {
    padding-left : 0;
    list-style: none;
}

card ul li::before {
    content: ""
}

.footer {
    padding: 90px 60px;
    min-height: 50vh;
    background-color: green;
    text-align: center;
    color: white;
}

.footer h1 {
    margin-bottom: 10px;
}

.btn {
    padding: 20px 30px;
    color: green;
    border-radius: 20px;
    background-color: white;
    margin-top: 40px;

}

