:root {
  --primary-color: #00a73e;
  --light-green: rgba(217, 233, 217, 0.4);
  --white: #ffffff;
  --light-white: rgba(255, 255, 255, 0.798);
  --light-gray: #504c4c;
}

header {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 2rem 5rem 4rem;
}

header a {
  color: var(--light-white);
  display: flex;
  align-items: center;
  gap: 0.85rem;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: -1%;
}

header h1 {
  font-size: 48px;
  font-weight: 400;
  padding: 1rem 0;
}

header p {
  font-size: 1.1rem;
  letter-spacing: -1%;
  color: var(--light-white);
}

main {
  padding: 4rem 0;
  margin: 0 auto;
}

.product_card_container {
  border: 1px solid gray;
  border-radius: 20px;
}

.product_card_img {
  display: block;
  height: 280px;
  width: 100%;
  position: relative;
}

.product_card_img_desc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem 2.5rem;
}

.product_card_img_desc .heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product_card_img_desc h3 {
  font-size: 60px;
  font-weight: 500;
}

.product_card_icon {
  width: 65px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background-color: #696969;
  color: white;
}

.product_card_icon img {
  width: 50px;
  height: 50px;
}

.product_card_img .bg_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product_card_img_desc p {
  font-size: 1rem;
  padding-top: 0.8rem;
}

.product_card_items {
  padding: 2.5rem 1rem;
  display: grid;
  gap: 0.8rem;
}

.product_card_item {
  padding: 2rem 1.2rem;
  -webkit-box-shadow: 0px 1px 24px -12px rgba(80, 76, 76, 1);
  -moz-box-shadow: 0px 1px 24px -12px rgba(80, 76, 76, 1);
  box-shadow: 0px 1px 24px -12px rgba(80, 76, 76, 1);
  border-radius: 20px;
}

.product_card_item h2 {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: -1%;
}

.product_card_item .product_card_desc {
  font-size: 0.82rem;
  line-height: 1.4rem;
  color: var(--light-gray);
  padding: 1rem 0;
}

.product_card_prices {
  background-color: var(--light-green);
  border-radius: 14px;
  padding: 1rem;
}

.product_card_prices p {
  color: var(--primary-color);
  font-size: 0.95rem;
}

.product_card_prices p:last-of-type {
  color: var(--light-gray);
  padding-top: 0.5rem;
}

.product_card_item ul {
  padding: 1.5rem 0;
  color: var(--light-gray);
}

.product_card_item ul h5 {
  font-weight: 400;
  padding-bottom: .75rem;
}

.product-card-check-list {
  list-style: none;
  padding-left: 0;
}

.product-card-check-list li {
  position: relative;
  padding: 0.25rem 0 0 18px;
  margin-bottom: 12px;
  font-size: 0.85rem;
}

.product-card-check-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 12px;
  height: 12px;
  background-image: url("/public/assets/icons/check-mark.svg");
  background-size: contain;
  background-repeat: no-repeat;
}


@media screen and (min-width: 960px) {
  main {
    max-width: 90%;
  }

  .product_card_items {
    grid-template-columns: repeat(3, 1fr);
  }
}
