:root {
  --primary-color: #00a73e;
  --light-green: rgba(217, 233, 217, 0.4);
  --white: #ffffff;
  --light-white: rgba(255, 255, 255, 0.798);
  --light-gray: #504c4c;
}

header {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 2rem 1.5rem 4rem;
}

header a {
  color: var(--light-white);
  display: flex;
  align-items: center;
  gap: 0.85rem;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: -1%;
}

header h1 {
  font-size: 38px;
  font-weight: 400;
  padding: 1rem 0;
}

header p {
  font-size: 1.1rem;
  letter-spacing: -1%;
  color: var(--light-white);
}

main {
  margin: 0 auto;
  padding: 4rem 1rem 0 1rem;
}

.product_card_container {
  -webkit-box-shadow: -3px 2px 31px -20px rgba(80, 76, 76, 1);
  -moz-box-shadow: -3px 2px 31px -20px rgba(80, 76, 76, 1);
  box-shadow: -3px 2px 31px -20px rgba(80, 76, 76, 1);
  border-radius: 20px;
  margin-bottom: 3rem;
}

.product_card_img {
  display: block;
  height: 310px;
  width: 100%;
  position: relative;
}

.product_card_img_desc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
  border-radius: 20px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem 1.5rem;
}

.product_card_img_desc .heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product_card_img_desc h3 {
  font-size: 38px;
  font-weight: 500;
}

.product_card_icon {
  width: 58px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background-color: #696969;
  flex-shrink: 0;
  color: white;
}

.product_card_img_desc.seeds .product_card_icon {
  background-color: #5f8746;
}

.product_card_icon img {
  width: 40px;
  height: 40px;
}

.product_card_img .bg_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product_card_img_desc p {
  font-size: 1.25rem;
  padding-top: 0.8rem;
}

.product_card_items {
  padding: 2.5rem 1rem;
  display: grid;
  gap: 0.8rem;
}

.product_card_item {
  padding: 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 0px 1px 24px -12px rgba(80, 76, 76, 1);
  -moz-box-shadow: 0px 1px 24px -12px rgba(80, 76, 76, 1);
  box-shadow: 0px 1px 24px -12px rgba(80, 76, 76, 1);
  border-radius: 20px;
}

.product_card_item h2 {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: -1%;
  margin-top: 0;
  margin-bottom: 10px;
}

.product_card_item .product_card_desc {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--light-gray);
  margin-bottom: 40px;
}

.product_card_prices {
  background-color: var(--light-green);
  border-radius: 14px;
  padding: 1rem;
  margin-bottom: 32px;
}

.product_card_prices p {
  color: var(--primary-color);
  font-size: 0.95rem;
}

.product_card_prices p:last-of-type {
  color: var(--light-gray);
  padding-top: 0.5rem;
}

.product_card_item ul {
  color: var(--light-gray);
}

.product_card_item ul h5 {
  font-weight: 400;
  padding-bottom: 0.75rem;
}

.product-card-check-list {
  list-style: none;
  padding-left: 0;
}

.product-card-check-list li {
  position: relative;
  padding: 0.25rem 0 0 18px;
  margin-bottom: 12px;
  font-size: 0.85rem;
}

.product-card-check-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 12px;
  height: 12px;
  background-image: url("/public/assets/icons/check-mark.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  max-width: 95%;
  margin: 0 auto;
}

.footer {
  padding: 90px 60px;
  min-height: 50vh;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--white);
}

.footer h2 {
    font-weight: 400;
    font-size: 38px;
}

.footer p {
    padding: 1.4rem 0;
}

.btn {
  padding: 1.75rem 1.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  color: var(--primary-color);
  border-radius: 20px;
  background-color: var(--white);
  margin-top: 40px;
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  main {
    max-width: 88%;
  }

  header {
    padding: 2rem 5rem 4rem;
  }

  header h1 {
    font-size: 48px;
  }

  .product_card_container {
    margin-bottom: 7rem;
  }

  .product_card_img_desc {
    padding: 3rem 2.5rem;
  }

  .product_card_img_desc h3 {
    font-size: 48px;
  }

  .product_card_img_desc .heading {
    gap: 1.5rem;
  }

  .product_card_items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .product_card_items {
    grid-template-columns: repeat(3, 1fr);
  }
}
